{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="layout_padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="img_box">
                    <figure><img src="{{ product.image.url }}" alt="img" /></figure>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 product_detail_side">
                <div class="abotext_box">
                    <div class="product-heading">
                        <h2>{{ product.name }}</h2>
                    </div>
                    <div class="product-detail-side">
                        <span><del>${{ product.price }}</del></span><span class="new-price">${{ product.discount }}</span>
                        <span class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </span>
                        <span class="review">({{ product.reviews_count }} customer review)</span>
                    </div>
                    <div class="detail-contant">
                        <p>{{ product.description|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="tab_bar_section">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab"
                                    href="#description">Description</a></li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#reviews">Reviews ({{ product.reviews_count }})</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="description" class="tab-pane active">
                                <div class="product_desc">
                                    <p>{{ product.description|slice:':300'|safe }}</p>
                                </div>
                            </div>
                            {% for review in reviews %}
                            <div id="reviews" class="tab-pane fade">
                                <div class="product_review">
                                    <h3>Reviews ({{ review.reviews_count }})</h3>
                                    <div class="commant-text row">
                                        <div class="col-lg-2 col-md-2 col-sm-4">
                                            <div class="profile">
                                                <img class="img-responsive" src="{{ review.user.avatar.url  }}" alt="#">
                                            </div>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-8">
                                            <h5>{{ review.user.first_name }}</h5>
                                            <p><span class="c_date">{{ review.created_at|date }}</span> | <span><a
                                                rel="nofollow" class="comment-reply-link"
                                                href="#">Reply</a></span></p>
                                            <span class="rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </span>
                                            <p class="msg">{{ review.message|safe }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
